*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    font-weight: 400;
    line-height: 1.7;
    color: $foreground;
    font-family: "Source Sans Pro", sans-serif;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
        url("../assets/imgs/bg.jpg");
    background-size: auto, auto, 100% auto;
    background-position: center top;
    background-repeat: repeat, no-repeat, no-repeat;
    background-attachment: fixed;
}
