@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin transition {
    transition: all 0.15s ease-in;
    -webkit-transition: all 0.15s ease-in;
    -moz-transition: all 0.15s ease-in;
    -ms-transition: all 0.15s ease-in;
    -o-transition: all 0.15s ease-in;
}

@mixin responsive($breakpoint) {
    @media only screen and (max-width: $breakpoint * 1px) {
        @content;
    }
}
