@import "../../sass/_variables.scss";
@import "../../sass/mixins";

%line {
    content: "";
    position: absolute;
    top: 50%;

    height: 2px;
    background-color: #ddd;
    width: calc(50% - 8rem);
}
.Month {
    background-color: $foreground;
    color: $foreground-light;
    text-align: center;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    @include responsive(800) {
        grid-template-columns: 1fr;
    }
    &__Intro {
        margin-bottom: 4rem;
        &__Date {
            font-size: 1.8rem;
            margin-bottom: 4rem;
            width: 100%;
            display: block;
            position: relative;

            &::before {
                @extend %line;
                left: 0;
            }
            &::after {
                @extend %line;
                right: 0;
            }
        }

        &__Heading {
            font-size: 3rem;
            text-transform: uppercase;
            line-height: 1.3;
            color: #000;
            margin-bottom: 3rem;
            letter-spacing: 1px;
        }
    }
    &__Paragraph {
        font-size: 1.8rem;
        margin-bottom: 4rem;
    }
    &__Image {
        width: 100%;
        margin-bottom: 4rem;
        & img {
            width: 100%;
        }
    }

    & article {
        border: 1px solid #eee;
        padding: 5rem 5rem 4rem;
        @include responsive(576) {
            padding: 5rem 1rem 4rem;
        }
    }
}
