@import "../../sass/_variables.scss";
@import "../../sass/mixins";

.Month {
    background-color: $foreground;
    color: $foreground-light;
    text-align: center;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    @include responsive(800) {
        grid-template-columns: 1fr;
    }
}
