@import "../../sass/variables";
@import "../../sass/mixins";

.Intro {
    width: 100%;
    @include flexCenter;
    flex-direction: column;
    min-height: 100vh;
    text-align: center;

    & h1 {
        font-size: 8.5rem;
        text-transform: uppercase;
        line-height: 1;
        letter-spacing: 0.3rem;
        margin-bottom: 2.5rem;
    }
    & p {
        font-size: 2rem;
        font-style: italic;
        margin-bottom: 2.5rem;
    }
    & span {
        cursor: pointer;
        & ion-icon {
            font-size: 8rem;
            color: #fff;
            @include transition;
            &:hover {
                color: $color-hover;
            }
        }
    }
}
