.Intro {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    text-align: center;

    & h1 {
        font-size: 8.5rem;
        text-transform: uppercase;
        line-height: 1;
        letter-spacing: 0.3rem;
        margin-bottom: 2.5rem;
    }
    & p {
        font-size: 2rem;
        font-style: italic;
        margin-bottom: 2.5rem;
    }
    & span {
        cursor: pointer;
        & ion-icon {
            font-size: 8rem;
            color: #fff;
            transition: color 0.2s ease-in;

            -webkit-transition: color 0.2s ease-in;
            -moz-transition: color 0.2s ease-in;
            -ms-transition: color 0.2s ease-in;
            -o-transition: color 0.2s ease-in;
            &:hover {
                color: #a86878;
            }
        }
    }
}
