.FormElement {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    & label {
        font-size: 1.6rem;
        text-transform: capitalize;
        margin-bottom: 1rem;
    }

    & input,
    textarea {
        font-size: 1.6rem;
        font-family: inherit;
        padding: 1rem;
        border: 1px solid #ccc;

        &:focus {
            outline: none;
        }
    }
}
